.main .wrap-visual {
  margin-bottom: 140px;
  position: relative;
  background: #000;
  z-index: 1;
}

.main .wrap-visual .main-visual-swiper {
  width: 100%;
  min-width: 1260px;
  margin: 0 auto;
  position: relative;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide:nth-of-type(1) {
  background: url(../images/Main_Banner_01.jpg) no-repeat center top;
  background-size: auto 100%;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide:nth-of-type(2) {
  background: url(../images/Main_Banner_02.jpg) no-repeat center top;
  background-size: auto 100%;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide:nth-of-type(3) {
  background: url(../images/Main_Banner_03.jpg) no-repeat center top;
  background-size: auto 100%;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide:nth-of-type(4) {
  background: url(../images/Main_Banner_04.jpg) no-repeat center top;
  background-size: auto 100%;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide:nth-of-type(5) {
  background: url(../images/Main_Banner_05.jpg) no-repeat center top;
  background-size: auto 100%;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide:nth-of-type(6) {
  background: url(../images/Main_Banner_06.jpg) no-repeat center top;
  background-size: auto 100%;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide:nth-of-type(7) {
  background: url(../images/Main_Banner_07.jpg) no-repeat center top;
  background-size: auto 100%;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide:nth-of-type(8) {
  background: url(../images/Main_Banner_08.jpg) no-repeat center top;
  background-size: auto 100%;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide:nth-of-type(9) {
  background: url(../images/Main_Banner_09.jpg) no-repeat center top;
  background-size: auto 100%;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide:nth-of-type(10) {
  background: url(../images/Main_Banner_10.jpg) no-repeat center top;
  background-size: auto 100%;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt {
  width: 1260px;
  margin: 0 auto;
  height: 844px;
  position: relative;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .mini-tit {
  position: absolute;
  left: 40px;
  top: 50px;
  font-family: "Gotham";
  color: #fff;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .mini-tit::after {
  content: "";
  display: block;
  width: 555px;
  height: 1px;
  position: absolute;
  left: 235px;
  top: 50%;
  z-index: 1;
  background: #fff;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: loading;
  animation-name: loading;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 555px;
  }
}
@keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 555px;
  }
}
.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box {
  width: 455px;
  height: 844px;
  padding: 120px 50px;
  position: absolute;
  right: 0;
  top: 0;
  background: #202020;
  color: #fff;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .tag {
  width: 70px;
  height: 30px;
  margin-bottom: 30px;
  border-radius: 0 0 15px 0;
  background: #d99700;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 50px;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .detail {
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: lighter;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .desc {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 22px;
  color: #ccc;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .info-list {
  margin-bottom: 30px;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .info-list li {
  margin-bottom: 5px;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .info-list li .dt {
  display: inline-block;
  margin-right: 10px;
  color: #d99700;
  font-weight: bold;
  font-size: 14px;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .info-list li span {
  font-size: 14px;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .info-list li:last-child {
  margin-bottom: 0;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .view-more {
  color: #999;
  z-index: 10;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .view-more:hover {
  color: #fff;
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .view-more:hover .icon-arrow-view {
  margin-left: 25px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.main .wrap-visual .main-visual-swiper .swiper-wrapper .swiper-slide .wrap-txt .txt-box .view-more .icon-arrow-view {
  -webkit-filter: invert(0.5);
  filter: invert(0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .wrap-visual .main-visual-swiper .inner {
  position: absolute;
  width: 1260px;
  top: 0;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.main .wrap-visual .main-visual-swiper .inner .wrap-etc {
  padding: 0 15px;
  position: absolute;
  left: 854px;
  top: 50px;
}

.main .swiper-pagination {
  position: relative;
  left: 0;
  top: 0;
  color: #999;
}

.main .swiper-pagination span.swiper-pagination-current {
  color: #fff;
}

.main .swiper-pagination span {
  display: inline-block;
  padding: 0 15px;
  font-family: "Gotham";
  font-weight: bold;
}

.main .swiper-button-next {
  right: 0;
  background-image: url(../images/icon-btn-next-white.png);
}

.main .swiper-button {
  width: 10px;
  height: 16px;
  margin: 0;
  top: 1px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main .swiper-button-prev {
  left: 0;
  background-image: url(../images/icon-btn-prev-white.png);
}

.main .wrap-visual .poster-wrap {
  width: 1100px;
  height: 305px;
  margin: 0 auto;
  position: absolute;
  left: 15%;
  bottom: 35px;
  z-index: 1;
  overflow: auto;
}

.main .wrap-visual .poster-wrap .visual-poster-swiper {
  width: 65%;
  min-width: 526px;
  height: 305px;
  position: absolute;
  left: 30%;
  bottom: 0;
}

.main .wrap-visual .poster-wrap .visual-poster-swiper .swiper-wrapper {
  position: relative;
  width: 700px;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.main .wrap-visual .poster-wrap .visual-poster-swiper .swiper-slide {
  width: 210px;
  height: 295px;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 1;
}