//4 footer 전체 영역
.footer {
  background: #161514;
  min-width: 1260px;
}

// 4-1. footer 상단 영역
.footer .distributors-list {
  border-top : 2px solid #ccc;
  background: #fff;
  display: flex;
  margin-top:5%;
  position: relative;
}

.footer .distributors-list .distributor-swiper {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  padding-right: 140px;
}

.footer .distributors-list .distributor-swiper::before {
  content: "";
  display: block;
  width: 140px;
  height: 70px;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.footer .distributors-list .distributor-swiper .swiper-wrapper {
  display:flex;
}

.footer .distributors-list .distributor-swiper .swiper-wrapper .swiper-slide {
  width: auto;
  margin: 0 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.footer .distributors-list .distributor-swiper .wrap-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 40px;
  top: 8px;
  margin-top : 9px;
}

.footer .distributors-list .distributor-swiper .wrap-btn .swiper-button {
  width: 36px;
  height: 36px;
  margin: 0;
  position: relative;
  left: auto;
  right: auto;
  top: 0;
  border: 1px solid #999;
}

// 4-2. footer 중단 영역
.footer .link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 55px;
  min-width: 1260px;
  border-bottom: 1px solid #242424;
}

.footer .link-list li {
  margin: 0 20px;
}

.footer .link-list li a {
  color: #fff;
  font-size: 16px;
}
.footer .link-list li > a:hover {
  color : #f6ab00;
}

// 4-3. footer 하단 영역

.footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-width: 1260px;
  padding: 50px 0;
}


.footer .footer-bottom .logo-footer {
  margin-right: 50px;
}

.footer .footer-bottom .info-wrap {
  color: #ccc;
}

.footer .footer-bottom .info-wrap .address {
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 22px;
}

.footer .footer-bottom .info-wrap .info {
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 22px;
}

.footer .footer-bottom .info-wrap .info .dt {
  margin-right: 5px;
  font-weight: lighter;
}

.footer .footer-bottom .info-wrap .info .dd {
  margin-right: 8px;
  font-weight: lighter;
}

.footer .footer-bottom .info-wrap .copyright {
  font-size: 12px;
  font-family: "Gotham";
}